.btn,
.disabled {
  height: 50px;
  border-radius: 10px;
  background-color: #00bf57;
  justify-content: center;
  padding: 8px;

  &.blocked {
    width: 100%;
  }
}

.disabled {
  background-color: rgba(0, 191, 87, 0.2);
}

.ghost {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.alert {
  background-color: white;
  border: 1px solid #FA243C;
}

.alertDisabled {
  background-color: #FAFAFB;
  border: 1px solid #E6E8EB
}

.btnText {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.ghostText {
  color: #000;
}

.alertText {
  color: #FA243C;
  font-weight: bold;
  font-size: 17px;
}

.alertTextDisabled {
  color: #0000004D;
  font-weight: bold;
  font-size: 17px;
}