.btn,
.disabled {
  height: 50px;
  border-radius: 10px;
  background-color: #00bf57;
  justify-content: center;
  padding: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconwrap {
  margin-right: 8px;
}

.disabled {
  background-color: #EFF0F2;
}

.pressed {
  background-color: #00AC4F;
}

.btnText {
  color: #fff;
  text-align: center;
}

.primaryText {
  font-weight: bold;
}

.textDisabled {
  color: #0000004D;
}


// ghost
.ghost {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.ghostPressed {
  background-color: rgba(0, 0, 0, 0.05);
}

.ghostText {
  color: #000;
}

.ghostDisabled {
  background-color: rgba(250, 250, 251, 1);
  border: 1px solid rgba(230, 232, 235, 1);
}

.ghostTextDisabled {
  color: rgba(0, 0, 0, 0.3);
}

// alert
.alert {
  background-color: white;
  border: 1px solid #fa243c;
}

.alertPressed {
  background-color: #FA243C1A;
}

.alertDisabled {
  background-color: #fafafb;
  border: 1px solid #e6e8eb;
}

.alertText {
  color: #fa243c;
}

.alertTextDisabled {
  color: #0000004d;
}

// secondary
.secondary {
  background-color: white;
  border: 1px solid #00BF57;
}

.secondaryPressed {
  background-color: rgba(0, 191, 87, 0.1);
}

.secondaryDisabled {
  background-color: rgba(250, 250, 251, 1);
  border: 1px solid rgba(230, 232, 235, 1);
}

.secondaryText {
  color: rgba(0, 171, 76, 1);
}

.secondaryTextDisabled {
  color: rgba(0, 0, 0, 0.3);
}


.small {
  height: 28px;
  border-radius: 8px;
  padding: 3px 16px 3px 16px;
}

.smallText {
  font-size: 15px;
  font-weight: bold;
}

.medium {
  height: 36px;
  padding: 6px 16px;
  border-radius: 8px;
}

.mediumText {
  font-size: 14px;
}

.large {
  height: 44px;
  padding: 10px 24px;
  border-radius: 8px;
}

.largeText {
  font-size: 15px;
}

.max {
  height: 50px;
  padding: 13px 24px;
  border-radius: 8px;
}

.maxText {
  font-size: 17px;
  font-weight: bold;
}

.boldText {
  font-weight: bold;
}