.abstractModalBackdrop {
  flex: 1;
  margin: 0;
  justify-content: flex-end;
}

.abstractModalContent {
  width: 100%;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background-color: #fff;
}